@import "tailwindcss";

:root {
  --background: #f8fafc;
  /* बहुत हल्का स्लेट/व्हाइट बैकग्राउंड */
  --foreground: #0f172a;
  /* डार्क स्लेट टेक्स्ट */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-size: 14px;
  /* कॉम्पैक्ट फॉन्ट साइज */
}